.App {
    font-family: 'Montserrat', 'Courier New', Courier, monospace;
    background-color: #eee;
    min-height: 100vh;
}

.Main {
  padding-top: 81px;
}

* {
    box-sizing: border-box;
  }
  
  a {
    transition: color ease-in-out 0.3s;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:hover i {
    color: #917059;
    transition: color ease-in-out 0.3s;
  }
  
  i {
    color: #cfced3;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
  }
  
  i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #917059;
  }